* {
	margin: 0;
	padding: 0;
	border-spacing: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #222;
}
a {
	color: #006496;
	text-decoration: none;
}
table {
	margin: 0 auto;
	margin-top: 15px;
}
table td {
	border-bottom: solid 1px #d8d8d8;
	width: 200px;
	height: 20px;
	line-height: 30px;
}
table th {
	border-bottom: solid 1px #d8d8d8;
	border-top: solid 1px #d8d8d8;
	width: 200px;
	height: 20px;
	line-height: 30px;
	font-weight: 700;
}
strong {
	font-weight: 700;
}
.place {
	width: 30px;
	padding-left: 10px;
}
.name {
	min-width: 150px;
	padding-left: 10px; 
	text-align: left;
	border-right: solid 1px #d8d8d8;
}
.statistic {
	width: 40px;
	padding-right: 10px;
	text-align: right;
}
.pointer {
	cursor: pointer;
}
.bgGreen {
	background: #7fd498;
}
.bgLightGreen {
	background: #cceed6;
}
.bgRed {
	background: #ff99b1;
}
.bgGray {
	background: #f9f9f7;
}
.cBlue {
	color: #006496;
}
.bold {
	font-weight: 700;
}
.f13 {
	font-size: 13px;
}
.legend {
	font-size: 11px;
	margin: 10px auto;
	max-width: 720px;
	width: 100%;
	padding-left: 10px;
}
.flag {
	width: 16px;
	height: 12px;
	line-height: 30px;
	font-size: 0px;
	margin-right: 4px;
	display: inline-block;
}
@media screen and (min-width: 720px) {
	table {
		width: 720px;
	}
}
@media screen and (max-width: 720px) {
	table {
		width: 100%;
		position: absolute;
		left: 0;
		right: 0;
	}
}
@media screen and (max-width: 660px) {
	.goals {
		display: none;
	}
}
@media screen and (max-width: 600px) {
	.conGoals {
		display: none;
	}
}
@media screen and (max-width: 540px) {
	.win {
		display: none;
	}
}
@media screen and (max-width: 480px) {
	.draw {
		display: none;
	}
}
@media screen and (max-width: 420px) {
	.lose {
		display: none;
	}
}